.card-body {
  .card-title {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card-title {
  a {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  .card-image {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
}
