.view-post {
  h1 {
    max-width: 800px;
  }
}

@include media-breakpoint-up(lg) {
  .view-post {
    .post-content {
      padding: 0 130px;
      p {
        margin-bottom: 2rem;
      }
    }
  }
}
